$colour: #8b8b8b;

.contenaireFormations {
    width: 70%;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0 40px 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    font-family: Roboto,segoe ui, Helvetica,Arial,sans-serif;
    border: rgb(235, 235, 235) solid 1px;
    border-radius: 5px;
}

.contenaire_text-formation {
    width: 100%;
    padding: 50px 0;
    background-color: #460000;
}
.text-formation {
    width: 70%;
    margin: 50px auto;
    padding-right: 15%;
    font-family: Roboto,segoe ui, Helvetica,Arial,sans-serif;
    // border: rgb(47, 0, 175) solid 1px;
}

.text-formation h1 {
    font-size: 30px;
    margin-bottom: 15px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.text-formation p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.selectForm {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.selectForm #langue {
    height: 40px;
    margin: 0;
    padding: 0 20px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: 1px;
    font-size: 16px;
}

.selectForm input[type=submit] { 
    height: 40px;
    width: 150px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    letter-spacing: 1px;
}

.blockFormations {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 3.3333%;
    width: 100%;
    // border: rgb(20, 175, 0) solid 1px;
}

a.card-formation {
    width: 100%;
    min-width: 250px;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: solid 1px rgb(214, 214, 214);
    border-radius: 5px;
}



.contenaireFormations a:link,
.contenaireFormations a:visited,
.contenaireFormations a:hover,
.contenaireFormations a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.card-formation h2 {
    width: 100%;
    height: auto;
    // padding: 0 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 22px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.8;
}

.card-formation h3 {
    width: 100%;
    height: auto;
    padding: 0 15px 10px 15px;
    font-size: 17px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
      }
}

.supp-card-formation {
    width: 100%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.inf-card-formation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 15px;
    // border: solid 1px red;
}

.inf-card-langue {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: auto;
    padding-left: 30px;  
}

.inf-card-langue h4 {
    width: auto;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px; 
    border-radius: 16px; 
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    background-color: #faf3b6;
}

.inf-card-langue h4 strong {
    opacity: .6;;
}

.img_formation {
    width: 100%;
    height: auto;
}

.fig_formations_liste {
    width: 100%;
    height: auto;
    overflow: hidden;
}


@media (max-width: 1500px) {
    .contenaireFormations {
        width: 85%;

    }

    .text-formation {
        width: 85%;
    }
    
}

@media (max-width: 1300px) {
    .contenaireFormations {
        width: 100%;
        border: none;

    }

    .text-formation {
        width: 100%;
        padding: 0 8% 0 2%;
        margin: 50px auto;
    }
    
}

@media (max-width: 1000px) {
    .contenaireFormations {
        margin-top: 10px;
     }

     .contenaire_text-formation {
        width: 100%;
        padding: 10px 5px 30px 5px;
        background-color: #460000;
    }

     .text-formation {
        padding-right: 1%;
        margin-top: 170px;
        margin-bottom: 40px;
    }
    

    .blockFormations {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-column-gap: 2%;
        width: 100%;
        // border: rgb(20, 175, 0) solid 1px;
    }

    .selectForm select {
        width: auto;
        min-width: 200px;  
    }

    .selectForm input {
        width: auto;
        min-width: 150px;  
    }
}

@media (max-width: 700px) {
    .blockFormations {
        display: grid;
        grid-template-columns: repeat(1, 96%);
        grid-column-gap: 2%;
        width: 100%;
        // border: rgb(20, 175, 0) solid 1px;
    }

}