.contenaire_profile {
    width: 100%;
    min-height: 815px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #fcfcfc;
    padding: 40px 20% 150px 20%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
}

.headerProfile {
    width: 100%;
    height: auto;
    padding: 35px 5%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: solid 1px rgb(235, 235, 235);
    &:first-child {
        border-bottom: none;
    }
    h3 {
        margin-right: 10px;
    }
    button {
        margin-left: auto;
        padding: 10px 15px;
        background-color: #fcfcfc;
        border: solid 1px #efefef;
        font-size: 14px;
        font-weight: bold;
    }
}

.table_certificat {
    width: 100%;
}

.certificatDownLoad {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.tabla_list_certificat {
    margin-top: 30px;
    h3 {
        width: 100%;
        margin-bottom: 30px;
    }
}

.tabla_list_certificat th {
    font-weight: bold;
}

.tabla_list_certificat td,
.tabla_list_certificat th {
    min-width: 100px;
}

.tabla_list_certificat td {
    border-bottom: solid 1px #efefef;
    height: auto;
    padding: 15px 0 15px 10px;
}

.tabla_list_certificat th {
    text-align: left;
    background-color: #fcfcfc;
    padding: 10px;
    height: 50px;
    color: rgb(82, 82, 82);
    vertical-align: middle;
}

// .bodyCertificat {
//     display: flex;
//     flex-direction: column;
// }

.table_certificat .fas {
    color: black;
}

@media (max-width: 1800px) {
    .contenaire_profile {
        padding: 40px 10% 150px 10%;
    }
}

@media (max-width: 1500px) {
    .contenaire_profile {
        padding: 40px 5% 150px 5%;
    }
}

@media (max-width: 1000px) {
    .contenaire_profile {
        padding: 40px 2% 150px 2%;
        margin-top: 100px;
        font-size: 16px;
    }

    .headerProfile {
        justify-content: flex-start;
    }

    .headerProfileH3First {
        width: 100%;
    }

    .headerProfile button {
        // align-self: flex-start;
        margin-right: auto;
        margin-left: 0;
        margin-top: 20px;
    }
}

////form create     ////////////////////////////////////////////////

.editCertificat {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 70%;
    overflow: auto;
    padding: 50px;
    border: #e0e0e0 solid 1px;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    // border: solid red 1px;
}

.editCertificat form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // border: solid blueviolet 1px;
}

.editCertificat h2 {
    width: 100%;
    padding: 20px;
}

.editCertificatLeft,
.editCertificatRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 45%;
    // border: solid red 2px;
}

.editCertificat label,
.editQuiz label {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #5b5b5b;
    width: auto;
    /* border: solid red 1px; */
}

.editCertificat input,
.editQuiz input,
.editCertificat select {
    margin: 0;
    padding-left: 10px;
    width: 100%;
    height: 55px;
    border: #e1e1e1 solid 1px;
    border-radius: 5px;
}

.submitCertificat {
    width: 100%;
    justify-content: flex-start;
}
.editCertificat input[type="submit"],
.submitCertificat a button {
    height: 45px;
    width: 150px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(104, 159, 230);
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.alert {
    margin-top: 10px;
    color: red;
}

.editCertificat p {
    margin: 0;
    padding: 0;
}
