*:focus {
  outline: none;
}

.contenairAccueil {
  width: 100%;
  height: 1080px;
  margin-top: -200px;
  margin-bottom: 140px;
  background-image: url(/storage/images/accueil3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contenairAccueil h1 {
  position: absolute;
  top: 150px;
  left: 35%;
  font-size: 20PX;
  font-weight: bold;
  width: auto;
  text-align: center;
  color: black;
  border-top: #920000 solid 1px;
  border-bottom: #920000 solid 1px;
  padding: 10px 15px;
}

.textAccueil1 {
  position: absolute;
  top: 220px;
  left: 20%;
  width: 64%;
  font-family: "Lato", sans-serif;
  font-size: 160px;
  font-weight: 700;
  text-align: left;
  color: black;
}

.textAccueil2 {
  position: absolute;
  top: calc(220px + 200px);
  left: 20%;
  width: 64%;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 28px;
  color: black;
}

.sousTextAccueil {
  position: absolute;
  top: calc(220px + 250px);
  right: 20%;
  width: 64%;
  height: auto;
  text-align: right;
  font-size: 180px;
  font-weight: 700;
  color: black;
}

#lienFormation {
  border-radius: 5px;
}

#buttonAccueil:hover {
  cursor: pointer;
}

#buttonAccueil {
  position: absolute;
  top: calc(220px + 290px);
  left: 20%;
  width: auto;
  height: 40px;
  padding: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #920000;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 25px;
}

.sociaux {
  width: 140px;
  position: absolute;
  bottom: 80px;
  right: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sociaux .fab, .sociaux .fas {
  font-size: 22px;
  color: black;
}
