.backNextButtonRoot {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #fafafa;
}

.backButton {
  width: 50%;
  height: 50px;
  border-radius: 10px 0 0 0;
}

.backButton:focus {
  outline: none;
}

.nextButton {
  width: 50%;
  height: 50px;
  border-radius: 0 10px 0 0;
  background-color: white;
}

.nextButton:focus {
  outline: none;
}
