ul.nav {
  border-bottom: solid 1px #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: medium;
  background-color: #ffffff;
}

ul.nav li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.nav li a {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: #1a87cf;
}
.active .nav-link {
  color: white;
}

li.active a {
  color: #1a87cf;
}

.logo {
  position: absolute;
  left: 10%;
  width: 70px;
  height: auto;
}

.connex {
  position: absolute;
  right: 5%;
  height: 100px !important;
}

#buttonconnex {
  font-weight: bold;
}

#buttonconnex {
  width: 100%;
  padding: 10px 15px;
  background-color: #1a87cf;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
}
