.quizHeader {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  margin-bottom: 20px;
}

.quizBackButton {
  padding: 25px;
  margin-bottom: 50px;
  width: 98%;
  height: 60px;
  font-size: 16px;
}

.paperH1 {
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 0;
  width: 40%;
  min-width: 350px;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-content p {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  font-size: 20px;
}

.headerModal {
  padding-top: 10px;
}

.headerModal,
.footerModal {
  width: 100%;
  height: 60px;
  background-color: #f44336;
  text-align: right;
}

.close, .closeWarning {
  color: white;
  margin: 15px 25px;
  padding: 10px;
  opacity: 1;
  font-size: 25px;
  font-weight: normal;
}

.close:hover,
.close:focus,
.closeWarning:hover,
.closeWarning:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 0;
  width: 40%;
  min-width: 350px;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.modal-content2 p {
  width: 100%;
  padding: 30px 20px;
  text-align: center;
  font-size: 20px;
}

.headerModal2,
.footerModal2 {
  width: 100%;
  height: 60px;
  background-color: #8cb393;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  font-size: 18px;
}

.footerModal2 {
  height: 80px;
}

.button2 {
  margin: 0 20px 0 0;
  background-color: white;
  padding: 0 15px;
  width: auto;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}

.button2:hover {
  background-color: #235dff;
}

.close2 {
  color: white;
  margin: 15px 25px;
  padding: 10px;
  opacity: 1;
  font-size: 25px;
  font-weight: normal;
}

.close2:hover,
.close2:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.closeW {
  color: white;
  margin: 15px 25px;
  padding: 10px;
  opacity: 1;
  font-size: 25px;
  font-weight: normal;
}

.closeW:hover,
.closeW:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.headerModalW,
.footerModalW {
  width: 100%;
  height: 60px;
  background-color: #f44336;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  color: white;
  font-size: 18px;
}

#certificatfooterModal {
  width: 100%;
  display: flex;
  flex: wrap;
  justify-content: flex-end;
  align-items: center;
}
#certificatfooterModal button {
  margin-right: 15px;
}
