.contenaireStepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 130px);
  margin-left: auto;
  margin-right: auto;
  background-color: #f11e1e;
  border: brown solid 2px;
}
