.contenaireStepper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100px;
    // margin-left: auto;
    // margin-right: auto;
    background-color: rgb(255, 244, 244);
    border: brown solid 2px;
} 

.stepBouton {
    width: auto;
    flex: 1;
    background-color: red;
}