.contenaireModules{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    height: calc(100vh - 130px);
    background-color: rgb(252, 252, 252);
} 